.highcharts-container {
    margin: 0 auto;
  }
  
.highcharts-figure, .highcharts-data-table table {
    margin: 0 auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#nav-bar {
    position: sticky;
    top:0;
    z-index:10;
  }
  
  .navbar{
    background-color: #00ccff;
    padding: 0 !important;
    position: fixed;
    height:90px
  }
  
  .navbar-brand img {
    height:70px;
    padding-left : 100px;
  }
  
  .navbar-nav li {
    padding: 0 10px;
  }
  
  .navbar-nav li a{
    color: #fff !important;
    font-weight: 700;
    font-size: 25px;
    
  }
  
